arm_template/linkedTemplates/ArmTemplate_0.json
{
    "$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "factoryName": {
            "type": "string",
            "metadata": "Data Factory name",
            "defaultValue": "adf-daily-etl-project"
        },
        "LS_ADLS_Source_accountKey": {
            "type": "secureString",
            "metadata": "Secure string for 'accountKey' of 'LS_ADLS_Source'"
        },
        "LS_SQL_Target_password": {
            "type": "secureString",
            "metadata": "Secure string for 'password' of 'LS_SQL_Target'"
        },
        "LS_ADLS_Source_properties_typeProperties_url": {
            "type": "string",
            "defaultValue": "https://adlsdailyetlweek7.dfs.core.windows.net/"
        },
        "LS_SQL_Target_properties_typeProperties_server": {
            "type": "string",
            "defaultValue": "sql-daily-etl-server.database.windows.net"
        },
        "LS_SQL_Target_properties_typeProperties_database": {
            "type": "string",
            "defaultValue": "db_daily_etl"
        },
        "LS_SQL_Target_properties_typeProperties_userName": {
            "type": "string",
            "defaultValue": "sqladmin"
        }
    },
    "variables": {
        "factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
    },
    "resources": [
        {
            "name": "[concat(parameters('factoryName'), '/LS_ADLS_Source')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "type": "AzureBlobFS",
                "typeProperties": {
                    "url": "[parameters('LS_ADLS_Source_properties_typeProperties_url')]",
                    "accountKey": {
                        "type": "SecureString",
                        "value": "[parameters('LS_ADLS_Source_accountKey')]"
                    }
                }
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/LS_SQL_Target')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "type": "AzureSqlDatabase",
                "typeProperties": {
                    "server": "[parameters('LS_SQL_Target_properties_typeProperties_server')]",
                    "database": "[parameters('LS_SQL_Target_properties_typeProperties_database')]",
                    "encrypt": "mandatory",
                    "trustServerCertificate": false,
                    "authenticationType": "SQL",
                    "userName": "[parameters('LS_SQL_Target_properties_typeProperties_userName')]",
                    "password": {
                        "type": "SecureString",
                        "value": "[parameters('LS_SQL_Target_password')]"
                    }
                }
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/DS_CUST_MSTR_Source')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "LS_ADLS_Source",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "DelimitedText",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobFSLocation",
                        "folderPath": "CUST_MSTR",
                        "fileSystem": "raw"
                    },
                    "columnDelimiter": ",",
                    "escapeChar": "\\",
                    "firstRowAsHeader": true,
                    "quoteChar": "\""
                },
                "schema": [
                    {
                        "name": "CustomerID",
                        "type": "String"
                    },
                    {
                        "name": "FirstName",
                        "type": "String"
                    },
                    {
                        "name": "LastName",
                        "type": "String"
                    },
                    {
                        "name": "Email",
                        "type": "String"
                    }
                ]
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/LS_ADLS_Source')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/DS_SQL_CUST_MSTR_Table')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "LS_SQL_Target",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "AzureSqlTable",
                "schema": [
                    {
                        "name": "CustomerID",
                        "type": "int",
                        "precision": 10
                    },
                    {
                        "name": "FirstName",
                        "type": "nvarchar"
                    },
                    {
                        "name": "LastName",
                        "type": "nvarchar"
                    },
                    {
                        "name": "Email",
                        "type": "nvarchar"
                    },
                    {
                        "name": "Date",
                        "type": "date"
                    }
                ],
                "typeProperties": {
                    "schema": "dbo",
                    "table": "CUST_MSTR"
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/LS_SQL_Target')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/DS_master_child_Source')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "LS_ADLS_Source",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "DelimitedText",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobFSLocation",
                        "folderPath": "master_child_export",
                        "fileSystem": "raw"
                    },
                    "columnDelimiter": ",",
                    "escapeChar": "\\",
                    "firstRowAsHeader": true,
                    "quoteChar": "\""
                },
                "schema": [
                    {
                        "name": "MasterID",
                        "type": "String"
                    },
                    {
                        "name": "ChildID",
                        "type": "String"
                    },
                    {
                        "name": "ChildName",
                        "type": "String"
                    }
                ]
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/LS_ADLS_Source')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/DS_SQL_master_child_Table')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "LS_SQL_Target",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "AzureSqlTable",
                "schema": [
                    {
                        "name": "MasterID",
                        "type": "int",
                        "precision": 10
                    },
                    {
                        "name": "ChildID",
                        "type": "int",
                        "precision": 10
                    },
                    {
                        "name": "ChildName",
                        "type": "nvarchar"
                    },
                    {
                        "name": "Date",
                        "type": "date"
                    },
                    {
                        "name": "DateKey",
                        "type": "int",
                        "precision": 10
                    }
                ],
                "typeProperties": {
                    "schema": "dbo",
                    "table": "master_child"
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/LS_SQL_Target')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/DS_H_ECOM_ORDER_Source')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "LS_ADLS_Source",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "DelimitedText",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobFSLocation",
                        "folderPath": "H_ECOM_ORDER",
                        "fileSystem": "raw"
                    },
                    "columnDelimiter": ",",
                    "escapeChar": "\\",
                    "firstRowAsHeader": true,
                    "quoteChar": "\""
                },
                "schema": [
                    {
                        "name": "OrderID",
                        "type": "String"
                    },
                    {
                        "name": "CustomerID",
                        "type": "String"
                    },
                    {
                        "name": "OrderValue",
                        "type": "String"
                    },
                    {
                        "name": "OrderDate",
                        "type": "String"
                    }
                ]
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/LS_ADLS_Source')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/DS_SQL_H_ECOM_Orders_Table')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "LS_SQL_Target",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "AzureSqlTable",
                "schema": [
                    {
                        "name": "OrderID",
                        "type": "int",
                        "precision": 10
                    },
                    {
                        "name": "CustomerID",
                        "type": "int",
                        "precision": 10
                    },
                    {
                        "name": "OrderValue",
                        "type": "decimal",
                        "precision": 18,
                        "scale": 2
                    },
                    {
                        "name": "OrderDate",
                        "type": "date"
                    }
                ],
                "typeProperties": {
                    "schema": "dbo",
                    "table": "H_ECOM_Orders"
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/LS_SQL_Target')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/DF_Load_CUST_MSTR')]",
            "type": "Microsoft.DataFactory/factories/dataflows",
            "apiVersion": "2018-06-01",
            "properties": {
                "type": "MappingDataFlow",
                "typeProperties": {
                    "sources": [
                        {
                            "dataset": {
                                "referenceName": "DS_CUST_MSTR_Source",
                                "type": "DatasetReference"
                            },
                            "name": "source1"
                        }
                    ],
                    "sinks": [
                        {
                            "dataset": {
                                "referenceName": "DS_SQL_CUST_MSTR_Table",
                                "type": "DatasetReference"
                            },
                            "name": "sink1"
                        }
                    ],
                    "transformations": [
                        {
                            "name": "derivedColumn1"
                        }
                    ],
                    "scriptLines": [
                        "source(output(",
                        "          CustomerID as string,",
                        "          FirstName as string,",
                        "          LastName as string,",
                        "          Email as string",
                        "     ),",
                        "     allowSchemaDrift: true,",
                        "     validateSchema: false,",
                        "     ignoreNoFilesFound: false,",
                        "     rowUrlColumn: 'SourceFileName',",
                        "     wildcardPaths:['/CUST_MSTR/CUST_MSTR_*.csv']) ~> source1",
                        "source1 derive(Date = toDate(replace(replace(SourceFileName, '/CUST_MSTR/CUST_MSTR_', ''), '.csv', ''), 'yyyyMMdd')) ~> derivedColumn1",
                        "derivedColumn1 sink(allowSchemaDrift: true,",
                        "     validateSchema: false,",
                        "     input(",
                        "          CustomerID as integer,",
                        "          FirstName as string,",
                        "          LastName as string,",
                        "          Email as string,",
                        "          Date as date",
                        "     ),",
                        "     deletable:false,",
                        "     insertable:true,",
                        "     updateable:false,",
                        "     upsertable:false,",
                        "     truncate:true,",
                        "     format: 'table',",
                        "     skipDuplicateMapInputs: true,",
                        "     skipDuplicateMapOutputs: true,",
                        "     errorHandlingOption: 'stopOnFirstError',",
                        "     mapColumn(",
                        "          CustomerID,",
                        "          FirstName,",
                        "          LastName,",
                        "          Email,",
                        "          Date",
                        "     )) ~> sink1"
                    ]
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/datasets/DS_CUST_MSTR_Source')]",
                "[concat(variables('factoryId'), '/datasets/DS_SQL_CUST_MSTR_Table')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/DF_Load_master_child')]",
            "type": "Microsoft.DataFactory/factories/dataflows",
            "apiVersion": "2018-06-01",
            "properties": {
                "type": "MappingDataFlow",
                "typeProperties": {
                    "sources": [
                        {
                            "dataset": {
                                "referenceName": "DS_master_child_Source",
                                "type": "DatasetReference"
                            },
                            "name": "source1"
                        }
                    ],
                    "sinks": [
                        {
                            "dataset": {
                                "referenceName": "DS_SQL_master_child_Table",
                                "type": "DatasetReference"
                            },
                            "name": "sink1"
                        }
                    ],
                    "transformations": [
                        {
                            "name": "derivedColumn1"
                        }
                    ],
                    "scriptLines": [
                        "source(output(",
                        "          MasterID as string,",
                        "          ChildID as string,",
                        "          ChildName as string",
                        "     ),",
                        "     allowSchemaDrift: true,",
                        "     validateSchema: false,",
                        "     ignoreNoFilesFound: false,",
                        "     rowUrlColumn: 'SourceFileName',",
                        "     wildcardPaths:['/master_child_export/master_child_export-*.csv']) ~> source1",
                        "source1 derive(DateKey = toInteger(replace(replace(SourceFileName, '/master_child_export/master_child_export-', ''), '.csv', '')),",
                        "          Date = toDate(replace(replace(SourceFileName, '/master_child_export/master_child_export-', ''), '.csv', ''), 'yyyyMMdd')) ~> derivedColumn1",
                        "derivedColumn1 sink(allowSchemaDrift: true,",
                        "     validateSchema: false,",
                        "     input(",
                        "          MasterID as integer,",
                        "          ChildID as integer,",
                        "          ChildName as string,",
                        "          Date as date,",
                        "          DateKey as integer",
                        "     ),",
                        "     deletable:false,",
                        "     insertable:true,",
                        "     updateable:false,",
                        "     upsertable:false,",
                        "     truncate:true,",
                        "     format: 'table',",
                        "     skipDuplicateMapInputs: true,",
                        "     skipDuplicateMapOutputs: true,",
                        "     errorHandlingOption: 'stopOnFirstError',",
                        "     mapColumn(",
                        "          MasterID,",
                        "          ChildID,",
                        "          ChildName,",
                        "          Date,",
                        "          DateKey",
                        "     )) ~> sink1"
                    ]
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/datasets/DS_master_child_Source')]",
                "[concat(variables('factoryId'), '/datasets/DS_SQL_master_child_Table')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/DF_Load_H_ECOM_ORDER')]",
            "type": "Microsoft.DataFactory/factories/dataflows",
            "apiVersion": "2018-06-01",
            "properties": {
                "type": "MappingDataFlow",
                "typeProperties": {
                    "sources": [
                        {
                            "dataset": {
                                "referenceName": "DS_H_ECOM_ORDER_Source",
                                "type": "DatasetReference"
                            },
                            "name": "source1"
                        }
                    ],
                    "sinks": [
                        {
                            "dataset": {
                                "referenceName": "DS_SQL_H_ECOM_Orders_Table",
                                "type": "DatasetReference"
                            },
                            "name": "sink1"
                        }
                    ],
                    "transformations": [
                        {
                            "name": "aggregate1"
                        }
                    ],
                    "scriptLines": [
                        "source(output(",
                        "          OrderID as string,",
                        "          CustomerID as string,",
                        "          OrderValue as string,",
                        "          OrderDate as string",
                        "     ),",
                        "     allowSchemaDrift: true,",
                        "     validateSchema: false,",
                        "     ignoreNoFilesFound: false,",
                        "     wildcardPaths:['/H_ECOM_ORDER/H_ECOM_ORDER_*.csv']) ~> source1",
                        "source1 aggregate(groupBy(OrderID),",
                        "     CustomerID = first(CustomerID),",
                        "          OrderValue = first(OrderValue),",
                        "          OrderDate = first(OrderDate)) ~> aggregate1",
                        "aggregate1 sink(allowSchemaDrift: true,",
                        "     validateSchema: false,",
                        "     input(",
                        "          OrderID as integer,",
                        "          CustomerID as integer,",
                        "          OrderValue as decimal(18,2),",
                        "          OrderDate as date",
                        "     ),",
                        "     deletable:false,",
                        "     insertable:true,",
                        "     updateable:false,",
                        "     upsertable:false,",
                        "     format: 'table',",
                        "     skipDuplicateMapInputs: true,",
                        "     skipDuplicateMapOutputs: true,",
                        "     errorHandlingOption: 'stopOnFirstError',",
                        "     mapColumn(",
                        "          OrderID,",
                        "          CustomerID,",
                        "          OrderValue,",
                        "          OrderDate",
                        "     )) ~> sink1"
                    ]
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/datasets/DS_H_ECOM_ORDER_Source')]",
                "[concat(variables('factoryId'), '/datasets/DS_SQL_H_ECOM_Orders_Table')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/PL_Load_All_Daily_Files_Sequentially')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "Run_DF_Load_CUST_MSTR",
                        "type": "ExecuteDataFlow",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "dataflow": {
                                "referenceName": "DF_Load_CUST_MSTR",
                                "type": "DataFlowReference",
                                "parameters": {},
                                "datasetParameters": {
                                    "source1": {},
                                    "sink1": {}
                                }
                            },
                            "staging": {},
                            "compute": {
                                "coreCount": 8,
                                "computeType": "General"
                            },
                            "traceLevel": "Fine"
                        }
                    },
                    {
                        "name": "Run_DF_Load_master_child",
                        "type": "ExecuteDataFlow",
                        "dependsOn": [
                            {
                                "activity": "Run_DF_Load_CUST_MSTR",
                                "dependencyConditions": [
                                    "Completed"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "dataflow": {
                                "referenceName": "DF_Load_master_child",
                                "type": "DataFlowReference",
                                "parameters": {},
                                "datasetParameters": {
                                    "source1": {},
                                    "sink1": {}
                                }
                            },
                            "staging": {},
                            "compute": {
                                "coreCount": 8,
                                "computeType": "General"
                            },
                            "traceLevel": "Fine"
                        }
                    },
                    {
                        "name": "Data flow1",
                        "type": "ExecuteDataFlow",
                        "dependsOn": [
                            {
                                "activity": "Truncate H_ECOM_Orders Table",
                                "dependencyConditions": [
                                    "Completed"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "dataflow": {
                                "referenceName": "DF_Load_H_ECOM_ORDER",
                                "type": "DataFlowReference",
                                "parameters": {},
                                "datasetParameters": {
                                    "source1": {},
                                    "sink1": {}
                                }
                            },
                            "staging": {},
                            "compute": {
                                "coreCount": 8,
                                "computeType": "General"
                            },
                            "traceLevel": "Fine"
                        }
                    },
                    {
                        "name": "Truncate H_ECOM_Orders Table",
                        "type": "Script",
                        "dependsOn": [
                            {
                                "activity": "Run_DF_Load_master_child",
                                "dependencyConditions": [
                                    "Completed"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "linkedServiceName": {
                            "referenceName": "LS_SQL_Target",
                            "type": "LinkedServiceReference"
                        },
                        "typeProperties": {
                            "scripts": [
                                {
                                    "type": "Query",
                                    "text": "TRUNCATE TABLE dbo.H_ECOM_Orders;"
                                }
                            ],
                            "scriptBlockExecutionTimeout": "02:00:00"
                        }
                    }
                ],
                "policy": {
                    "elapsedTimeMetric": {}
                },
                "annotations": []
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/dataflows/DF_Load_CUST_MSTR')]",
                "[concat(variables('factoryId'), '/dataflows/DF_Load_master_child')]",
                "[concat(variables('factoryId'), '/dataflows/DF_Load_H_ECOM_ORDER')]",
                "[concat(variables('factoryId'), '/linkedServices/LS_SQL_Target')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/trigger_daily')]",
            "type": "Microsoft.DataFactory/factories/triggers",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "runtimeState": "Stopped",
                "pipelines": [
                    {
                        "pipelineReference": {
                            "referenceName": "PL_Load_All_Daily_Files_Sequentially",
                            "type": "PipelineReference"
                        },
                        "parameters": {}
                    }
                ],
                "type": "ScheduleTrigger",
                "typeProperties": {
                    "recurrence": {
                        "frequency": "Day",
                        "interval": 1,
                        "startTime": "2025-07-20T07:22:00",
                        "timeZone": "India Standard Time",
                        "schedule": {
                            "minutes": [
                                0
                            ],
                            "hours": [
                                2
                            ]
                        }
                    }
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/pipelines/PL_Load_All_Daily_Files_Sequentially')]"
            ]
        }
    ]
}